.product-img {
  position: relative;
  width: 380px;
  height: 380px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  overflow: hidden;
}

.like-btn {
  width: 22px;
  height: 22px;
  border: none;
  background: url(../../assets/images/icon-heart.svg) no-repeat center / contain;
}

.like-btn.on {
  background: url(../../assets/images/icon-heart-on.svg) no-repeat center /
    contain;
}

.product-item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
